.filtros{
	width: 100%;
	float: left;
	text-align:center;
	padding: 10px 0;
}

.filtros form{
	display:inline-block;
	width: auto !important;
}

.filtros input,
.filtros select{
	padding: 6px 10px;
	float: left;
	margin: 0 5px;

	font-size: 17px;
}

.filtros input[type="text"],
.filtros select{
	min-width: 200px;
}

.filtros input[type="submit"]{
	width: 100px;
	float: left;
	background: #ccc;
	color: #222;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 1px 1px 0px #666;
	border-left: 1px solid #666;
	border-top: 1px solid #666; 
}

.filtros input[type="submit"]:active,.boton-seguir:active{
	box-shadow: inset 0 0 5px rgba(0, 0, 0,0.4);
}

.margen-10{
	margin: 10px;
}

/* ESTILOS LOGIN */ 

.azul02{
	background: #fff;
	width: 100%;
	height: 660px;
	position: relative;
	float: left;
	overflow: hidden;
}

.video_contenedor02{
	width: 100%;
	float: left;
}

#video_login{
	width: 100%;
	float: left;
	-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.cabecera-up{
	width: 100%;
	height: 45px;
	float: left;
	background: #fff;
	position: absolute;
	z-index: 2;
}

.cabecera-up p{
	margin-left: 105px;
	color: #222 !important;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
	font-size: 11px;
	line-height: 45px;
	vertical-align: middle;
	font-weight: 100;
}

.cabecera{
	background: rgba(255,255,255,1);
	position:absolute;
	width: 100%;
	height: 85px;
	z-index: 2;
	font-size: 14px;
	color: #222;
	top: 45px;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: capitalize;
	border-top: 1px #ccc solid;
}

#logo{
	width: 13.4%;
	min-width: 100px;
	float: left;
	margin-top: 20px;
	margin-left: 105px;
}

.cabecera ul {
	float:left;
	list-style-type:none;
	padding:0 0 20px 0;
	margin-left: 32%;
}

.cabecera ul li {
	float:left;
}

.cabecera ul li a {
	text-decoration: none;
	float:left;
	color: #222;
	padding:5px;
	margin: 25px 13px 5px 0;
	font-size: 1em;
	font-weight: 400;

	webkit-transition: all 300ms cubic-bezier(0.175,0.885,0.32,1.275);
	-moz-transition: all 300ms cubic-bezier(0.175,0.885,0.32,1.275);
	-o-transition: all 300ms cubic-bezier(0.175,0.885,0.32,1.275);
	transition: all 300ms cubic-bezier(0.175,0.885,0.32,1.275);
	position: relative;
}

.cabecera ul li a:hover {
	color: #1bbeb4;
	border-bottom: 1px solid #1bbeb4;
	padding-bottom: 5px;

	webkit-transition: all 300ms cubic-bezier(0.175,0.885,0.32,1.275);
	-moz-transition: all 300ms cubic-bezier(0.175,0.885,0.32,1.275);
	-o-transition: all 300ms cubic-bezier(0.175,0.885,0.32,1.275);
	transition: all 300ms cubic-bezier(0.175,0.885,0.32,1.275);
	position: relative;
}

.sociales-top{
	width: 10%;
	float: right;
	margin-right: 2%;
}

.sociales-top img{
	width: 25px; 
	border-radius: 30px;
	border: 2px #fff solid;
	float: right;
	padding: 3px;
	margin: 30px 5px 0 0;
}

.twitter:hover{
	border: 2px #4099FF solid;
}

.facebook:hover{
	border: 2px #3b5998 solid;
}

#login-clientes{
	width: 100%;
	float: left;
	position: absolute;
	height: 100%;
	background: rgba(0,0,0,0.2);
	padding-top: 200px;
}

.texto-clientes{
	width:30%;
	margin-left: 20%;
	float: left;
}

.texto-clientes img{
	width: 90%;
	float: left;
	margin: 20% 5% 0 5%;
}

.form-clientes{
	width:30%;
	margin-right: 20%;
	float: left;
	margin-top: 1%;
}

.form-clientes-izq{
	width:30%;
	margin-left: 20%;
	float: left;
	margin-top: 1%;
}

.form-clientes input[type="text"], 
.form-clientes input[type="password"], 
.form-clientes input[type="submit"],
.form-clientes-izq input[type="text"], 
.form-clientes-izq input[type="password"], 
.form-clientes-izq input[type="submit"]{
	width: 80%;
	margin: 20px 10%;
	float: left;
	padding: 10px;
	font-family: 'Dosis', sans-serif;
	font-size: 17px;
}

.form-clientes input[type="text"],
.form-clientes-izq input[type="text"]{
	background: url(images/user.png) 98% 50% no-repeat rgba(255,255,255,0.4);;
}

.form-clientes input[type="password"],
.form-clientes-izq input[type="password"]{
	background: url(images/clave.png) 98% 50% no-repeat rgba(255,255,255,0.4);;
}

.form-clientes input[type="submit"],
.form-clientes-izq input[type="submit"]{
	box-sizing: content-box;
	border: 2px #fff solid;
	background: #222;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}

.form-clientes input[type="submit"]:hover,
.form-clientes-izq input[type="submit"]:hover{
	box-sizing: content-box;
	border: 2px #222 solid;
	background: #fff;
	color: #222;
	text-transform: uppercase;
	cursor: pointer;
}

.form-clientes input[type="text"], 
.form-clientes input[type="password"],
.form-clientes-izq input[type="text"], 
.form-clientes-izq input[type="password"]{
	border: 2px #fff solid;
	
}

.form-clientes h1,
.form-clientes-izq h1{
	float: left;
	width: 95%;
	margin-left: 5%; 
	text-align: center;
	line-height: 30px;
	color: #222;
	text-transform: uppercase;
	background: rgba(255,255,255,0.6);
	border: 1px solid #222;
}

.iframe-izq, .iframe-der{
	width: 100%;
	float: left;
	margin-top: 35px;
}

.no-border{
	border: none!important;
}

.imagen{
	width: 30px;
	vertical-align: middle;
}
/* FIN ESTILOS LOGIN */
/* mauricio */

.contenedor-filtro{
   background:#243a51;
   color:#ffffff;
   padding-top:10px;
   padding-bottom:10px;
}



.contenedor-filtro select,option{
   display:block;
   height: 40px;
   background: rgb(255, 255, 255);
   padding: 10px;
   float: right;
   color: rgb(0, 0, 0);
   border: 1px solid #fff;
   width: 200px;
   border-radius: 4px;
   font-family: 'Lato', sans-serif;
}

.contenedor-filtro option{
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   height: 40px;

}
.filtro-boton{
    color: #ffffff;
    background: rgb(36, 58, 81);
	height: 47px;
    margin: 20px;
    border-radius: 5px;
	padding: 10px;
	border: 1px solid #999; 
	font-family: 'Lato-Bold', sans-serif;
	vertical-align: middle;
	font-size: 1em;
	min-width: 200px;
	padding-bottom: 15px;
}

.filtro-boton:active{
	font-size: 0.95em;
}

.pagina-titulo{
	text-align:center;
	color: #243a51;
	font-weight: bold;
	text-shadow: 1px 1px #999;
}

/* barra navegacion */
.barra-nave{
	margin-left:20px !important;
	margin-top:5px !important;
	color: #ffffff;
}

.barra-nave a{
	text-decoration: underline;
	color: #ffffff;
}
.barra-nave li{
	
	color: #ffffff !important;
}

/* barra navegacion */

/* PARA PONER EL GRAFICO MINIMALISTA DE OTRO TAMAÑO */
 .min-chart { margin-top: 10px; margin-bottom: 10px; width: 250px; height: 250px; } 
 .min-chart .percent { line-height: 250px; }

 /*.card-body { height: 550px; padding: 0 1.25rem;}*/

/* FIN */
/* ANCHO EN PIXELES ES SIN GUION */
.width100{
	width: 100px !important;
} 

.width200{
	width: 200px !important;
} 

.width50{
	width: 50px !important;
} 
/* ANCHO EN PORCENTAJE ES CON GUION */

.width-100{
	width: 100% !important;
}

/* estilos  del div que va dentro del form, x cada input/select/etc  */

.form-sector{
	margin: 30px 0;
	float: left;
	width: 100%;
}

/* PARA ORDENAR AL CENTRO DE MANERA VERTICAL */
.vertical-center{
	vertical-align: middle !important;
}

.obs-general{
	width: 80%;
	margin: 0 auto;
	height: 200px !important;
}

.fixed-right{
	position: fixed;
	float: right;
	right: 10px;
	z-index: 999999;
}

/* prueba color switch */


.boton-switch::after{
	background-color: #1bbeb4 !important;
}

.text-centro{
	text-align:center !important;
}

.avatar{
	width: 200px !important;
	margin-top: -100px !important;
}
/*
.card-up{
	height: 200px !important;
}*/
/* PARA EL DESPLEGABLE DEL EXPORTAR A EXCEL */
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{color:#262626;text-decoration:none;background-color:#e6e6e6}
.dropdown-menu>li>a{ width: 90%; margin: 0 5%; float: left; }


.md-form-nobottom{
	position: relative;
	margin-top: 1.5rem;
	margin-bottom: 5px !important;
}

.md-form-notop{
	position: relative;
	margin-top: 5px !important;
	margin-bottom: 1.5rem;
}

.barra_oe::-webkit-scrollbar{
   width: 7px;
   background: #000000;
}

.barra_oe::-webkit-scrollbar-thumb{
   background: #FFBF00;
   border-radius: 5px;
}

.scroll-wrapper {
   overflow: hidden !important;
   padding: 0 !important;
   position: relative;
}

.scroll-wrapper > .scroll-content {
   border: none !important;
   box-sizing: content-box !important;
   height: auto;
   left: 0;
   margin: 0;
   max-height: none;
   max-width: none !important;
   overflow: scroll !important;
   padding: 0;
   position: relative !important;
   top: 0;
   width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
   height: 0;
   width: 0;
}

.scroll-element {
   display: none;
}
.scroll-element, .scroll-element div {
   box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
   display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
   cursor: default;
}

.scroll-textarea {
   border: 1px solid #cccccc;
   border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
   overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
   border: none !important;
   box-sizing: border-box;
   height: 100% !important;
   margin: 0;
   max-height: none !important;
   max-width: none !important;
   overflow: scroll !important;
   outline: none;
   padding: 2px;
   position: relative !important;
   top: 0;
   width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
   height: 0;
   width: 0;
}




/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
   border: none;
   margin: 0;
   padding: 0;
   position: absolute;
   z-index: 10;
}

.scrollbar-inner > .scroll-element div {
   display: block;
   height: 100%;
   left: 0;
   top: 0;
   width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-x {
   bottom: 2px;
   height: 8px;
   left: 0;
   width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
   height: 100%;
   right: 2px;
   top: 0;
   width: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
   overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
   filter: alpha(opacity=40);
   opacity: 0.4;
}

.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #c2c2c2; }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #919191; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }